<h1>All Recipes</h1>
<hr>
<% @recipes.each do |recipe| %>
    <div class="row">
        
        <div class="col-md-2">
            <section class="barman_info center">
                
            </section>
        </div>
        
        <div class="col-lg-8 well">
            <p> TIME AGO BLA BLA </p>
        </div>
        
    </div>
<% end %>