
<div class="center jumbotron">
    <h1>Welcome drinker!</h1>
    <h2>Collection of Cocktails recipes!</h2>
    
    <%= link_to "Sign up now!", "",class:"btn btn-lg shadow", id:"signUp" %>
</div>
<div class="row">
    <div class="col-lg-4">
        <h3 class="midrow">View recipes as guest user.</h3>
        <h2 class="left">Browse and view recipes as a guest and sign up later.</h2>
        <p><%= link_to "Browse cocktail recipes","",class: "btn btn-warning btn-small shadow" %></p>
    </div>
    <div class="col-lg-4 ">
        <h3 class="midrow">View recipes as guest user.</h3>
        <h2 class="left">Browse and view recipes as a guest and sign up later.</h2>
        <p><%= link_to "Browse cocktail recipes","",class: "btn btn-warning btn-small shadow" %></p>
    </div>
    <div class="col-lg-4">
        <h3 class="midrow">View recipes as guest user.</h3>
        <h2 class="left">Browse and view recipes as a guest and sign up later.</h2>
        <p><%= link_to "Browse cocktail recipes","",class: "btn btn-warning btn-small shadow" %></p>
    </div>
</div>
