<header class="navbar navbar-fixed navbar-default navstyle">
  
  <%= link_to "Cocktails","",class:"btn btn-lg ", id: "logo" %>
  <nav class="cl-effect-5 container">
    
    <a href="#"><span data-hover="new"> new</span></a>
     <a href="#"><span data-hover="test"> test</span></a>
      <a href="#"><span data-hover="test"> test</span></a>
       <a href="#"><span data-hover="test"> test</span></a>
  </nav>
</header>
  <!--<nav class="container">
    <%# link_to "Cocktails","",class:"btn btn-lg ", id: "logo" %>
    <div class="nav_item">
      <%# link_to "trending","",class: "btn btn-default btn-warning shadow" %>
    </div>
    <div class="nav_item">
      <%# link_to "Beverage","",class: "btn btn-default btn-warning shadow" %>
    </div>
    <div class="nav_item">
      <%# link_to "Fruit","",class: "btn btn-default btn-warning shadow" %>
    </div>
    <div class="nav_item">
      <%# link_to "log in","",class: "btn btn-default btn-warning shadow" %>
    </div>
  </nav>-->